.logo {
  font-size: 30px;
  color: #fff;
  background: cover;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 90, 228);
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
}

nav ul{
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 8px;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}